/*-----------가운데로 모이게 해줌-----------*/
.row {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 24px;
}

#btn_create {
    margin-top: 16px;
    margin-bottom: 16px;
}

#MainTitle {
    text-align: center;
    font-size: 54px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
#btn_back {
    margin-top: 16px;
    margin-bottom: 16px;
}

.col-sm-10, .col-sm-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 24px;
}